<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="73.0.3683.68" targetFramework="net452" />
</packages>